:root {
    font-size: 16px;
}

* {
    margin: 0;
    padding: 0;
}

div.pictureSlide {
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    touch-action: none;
    margin: 2rem;
    border: 1px solid black;
}

.clipped {
    width: 800px;
    height: 400px;
    position: absolute;
    background-repeat: no-repeat;
    background-size: cover;
}

div.dragItem {
    height: 20px;
    width: 20px;
    background-color: white;
    border: 2px solid black;
    z-index: 100;
    touch-action: none;
    user-select: none;
}

div.dragItem:active {
    background-color: rgb(220, 220, 220);
}

div.dragItem:hover {
    cursor: pointer;
}

section.grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    width: 800px;
    text-align: center;
}